@charset "UTF-8";

/**
 * 
 * @title --
 * @authors goodliang
 * @date 2017-04-10 14:52:29
 * 
 */

.top {
    vertical-align: top !important;
}

.min-w100 {
    min-width: 100px;
}

.refund-info-body {
    display: none;
}

.flight_time {
    border-bottom: 1px dotted #ddd;
    display: inline-block;
    padding: 0 10px 5px;
}

.t-price {
    height: 32px;
    line-height: 32px;
    margin-bottom: 3px;
}

.t-filter-title {
    display: inline-block;
    padding-top: 2px;
}

.more-box {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 9;
}

.hotel-tit .tit {
    display: inline-block;
    margin-bottom: 5px;
}

.hotel-tit .star-group {
    display: inline-block;
}

.room-list-center {
    background: #fff;
    padding-left: 90px;
    padding-right: 15px;
}

.room-pic-list {}

.room-pic-list ul {
    display: block;
    overflow: hidden;
    margin-bottom: 0;
    list-style-type: none;
    padding: 0;
}

.room-pic-list li {
    float: left;
    width: 100px;
    margin: 3px 15px 3px 0;
}

.room-pic-list li img {
    width: 100%;
}

.room-body {
    overflow: hidden;
}

.room-body-main {
    margin-right: 330px;
}

.room-body-sidebar {
    width: 314px;
    float: right;
    margin-top: 70px;
    background: #fff;
}
